body {
	background-color: black;
	color: #ffffff;
	font-family: "Edu AU VIC WA NT Arrows", cursive;
  	font-optical-sizing: auto;
 	font-weight: <weight>;
  	font-style: normal;

h1, h2, footer {
	text-align: center;
}

iframe {
	float: right;
	padding: 30px;
}

img {
	float: left;
	padding: 30px;
}

footer {
	clear: both;

}